<p>
  <b>Nombre:</b>
  <%= @tipo_de_equipamiento.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @tipo_de_equipamiento.descripcion %>
</p>


<%= link_to 'editar', edit_tipo_de_equipamiento_path(@tipo_de_equipamiento) %> |
<%= link_to 'atras', tipo_de_equipamientos_path %>
