

<p>
  <b>Nombre:</b>
  <%= @localidad.nombre %>
</p>

<p>
  <b>Region:</b>
  <%= @localidad.region_id %>
</p>


<%= link_to 'editar', edit_localidad_path(@localidad) %> |
<%= link_to 'atras', localidads_path %>
