
<h3>Editar Permission</h1>

<%= render 'form' %>

<%= link_to 'ver', @role_permission, :class => 'ajaxLink' %> |
<%= link_to 'atras', role_permissions_path(:role_id => @role_permission.role_id), :class => 'ajaxLink' %>
<%= render 'javascript' %>
