

<p>
  <b>Escuela:</b>
  <%= @inventario_menaje.escuela_id %>
</p>

<p>
  <b>Ultima modificacion:</b>
  <%= @inventario_menaje.ultima_modificacion %>
</p>


<%= link_to 'editar', edit_inventario_menaje_path(@inventario_menaje) %> |
<%= link_to 'atras', inventario_menajes_path %>
